.home-container {
  font-family: 'Poppins, sans-serif' ;
  padding: 20px;

}

.landing-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
