/* Login.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left, #8e44ad, #3498db);
  }
  
 /* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  display: flex;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

.left-section {
  flex: 2;
  background: linear-gradient(to right, #8e44ad, #3498db);
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.left-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.right-section {
  flex: 1;
  background-color: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.login-form {
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 1rem;
}

input {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #3498db;
}

button {
  padding: 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
